@import './main/reset.scss';

* {
    box-sizing: border-box;
}

html {
    font-family: 'Gothic A1', sans-serif;
    background: #FFFFFF;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

    



@import './components/header.scss';
@import './components/tablet.scss';
@import './components/grid-app.scss';
@import './components/dignity.scss';
@import './components/totals.scss';
@import './components/recipes.scss';
@import './components/slider.scss';

@media (max-width:991.75px){
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
}
