.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 302px 0 274px; 
}

.grid-container__item {
    text-align: center;
}

.grid-container__h1 {}

.grid-container__h2 {}

.grid-container__h3 {}