.header {
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

.header-block {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    //width: 100%;
    padding: 29px 0 0 129px;
}

.header-block__menu {
    display: flex;
    list-style: none;
    //margin: 0 auto;
    //align-items: center;
    width: 50%;
    padding: 0 0 0 170px;
    //justify-content: space-between;
}

.header-block__menu li {
    padding: 0 15px 0 15px;
}

.header-contains {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.header-contains__text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    width: 81%;
    padding: 0px 0 85px 0;
    z-index: 1;
}

.header-contains__momentum {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
}

.header-contains__launch {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
}

.header-contains__img {
    padding: 48px 0 0 654px;
    z-index: 0;
}

@media (max-width:991.75px){
    .container {
        max-width: 992px;
    }

    .header-block {
        padding: 29px 0 0 100px;
    }

    .header-block__menu {
        width: 60%;
        padding: 0 0 0 40px;
    }

    .header-contains__img {
        padding: 48px 0 0 0px;
        object-fit: cover;
        list-style: none;
        
    }

    .header-contains__img-block {
        object-fit: cover;
        list-style: none;
        width: 50%;
    }
}