include ../mixins/dignity-mix.pug
section.dignity
    .dignity-wrap
        +dignity({
            img:"./assets/imgs/burger-section-4.svg",
            item:'Activity Notifications',
            text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
        })
        +dignity({
            img:"./assets/imgs/cutlery-section-4.svg",
            item:'Custom Timing',
            text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
        })
        +dignity({
            img:"./assets/imgs/mobile-optimized-section-4.svg",
            item:'Mobile Optimized',
            text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
        })
