include ../mixins/grid.pug
section.grid
    .grid-container
        +grid({
            item: 'Aenean Consectetur',
            bold: 'Cay sociis nato que penatibus et',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
        })
        +grid_two({
            img:"./assets/imgs/spagetti-section-3.png",
        })
        +grid_two({
            img:"./assets/imgs/orders-section-3.png",
        })
        +grid({
            item: 'ConsectUltricies',
            bold: 'Amet Ipsum',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
        })
        +grid({
            item: 'Aenean Consectetur Porta',
            bold: 'Magna Porta Sit Bibendum',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
        })
        +grid_two({
            img:"./assets/imgs/ingredients-section-3.png",
        })