section.header
    div.header-block
        img.header-block__logo(src="./assets/imgs/logo_richard.png", alt="logo")
        .header__menu.header__menu--close#menu
            span.close#close
                span
            li
                a(href="#") About
            li
                a(href="#") Features
            li
                a(href="#") How to Use
            li
                a(href="#") Download
        span.burger#open
            span
    .header-contains
        .header-contains__text
            span.header-contains__momentum Momentum
            span.header-contains__launch Launch your product - and savor the momentum.
            button.header-contains__btn Get the App
    .header-contains__img
        img.header-contains__img-block(src="./assets/imgs/prototype-section-one.svg", alt="prototype")