section.recipes
    .recipes__row
        .recipes__block-1
            div.recipes__author
                span.recipes__item Aenean Consectetur Porta
                span.recipes__bold Sem Risus Elit Vestibulum
                span.recipes__text Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    span.recipes__text-two Cras mattis consectetur 
                    | purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.
            img.recipes__img(src="./assets/imgs/cheesburger-section-6.jpg", alt="cheesbureger")
        .recipes__block-2
            img.recipes__img(src="./assets/imgs/dish-section-6.jpg", alt="cheesbureger")
            div.recipes__author
                span.recipes__item Aenean Consectetur Porta
                span.recipes__bold Parturient Tortor
                span.recipes__text Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    span.recipes__text-two Cras mattis consectetur 
                    | purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.

        .recipes__block-3