section.tablet
    .tablet-block
        span.tablet-block__item Aenean Consectetur Porta
        span.tablet-block__text Nullam quis risus eget urna mollis ornare vel eu leo.
        img.tablet-block__img(src="./assets/imgs/tablet-section-2.png", alt="tablet")