include ../mixins/totals-mix.pug
section.totals
    .totals-wrap
        +totals({
            item:'+12k',
            text:'Nibh Elit Tristique',
        })
        +totals({
            item:'84',
            text:'Aenean Condimentum',
        })
        +totals({
            item:'3,07',
            text:'Quam Inceptos',
        })
        +totals({
            item:'24h',
            text:'Ullamcorper',
        })