doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/vendors.min.css")
        link(rel="stylesheet", href="./assets/css/app.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap' rel='stylesheet')
    body
        .container
            include ./components/header.pug
            include ./components/tablet.pug
            include ./components/grid-app.pug
            include ./components/dignity.pug
            include ./components/totals.pug
            include ./components/recipes.pug
            include ./components/slider.pug
            include ./components/partners.pug
        script(src="./assets/js/vendors.min.js")
        script(src="./assets/js/app.js")
