mixin grid(args={})
    div.grid-container__item
        span.grid-container__h1=args.item
        span.grid-container__h2=args.bold
        span.grid-container__h3=args.text
mixin grid_two(args={})
    img(src=args.img, alt="grid").grid-container__img